<div class="col-xs-12 col-sm-4 col-lg-4 js-card">
  <div class="card">
    <%= link_to influencer_path(influencer) do %>
    <div class="card-picture"
    style="background: url('<%= influencer.photo %>')">
    <div class="card-title">
      <p class="influencer-name text-center"><%= influencer.first_name %></p>
    </div>
    <div class="card-footer">
      <p class="influencer-media_type text-center"><%= influencer.media_type %></p>
    </div>
  </div>
</div>

</div>
<% end %>
<% end %>