.influencer-header {
  display: flex;
  align-items: center;
  justify-content: center;
}


.influencer-header h1 {
  font-family: $main-font;
  font-weight: 700;
  font-size: 48px;
  color: $my-gray;
  margin-left: -150px;

}

.picture-show {
  margin-top: 50px;
}

.left-section{
  // margin-left: 40px;
  width: 50%;
  height: 80vh;
  float: left;
  display: flex;
  justify-content: space-around;

}

.right-section{
  color: $my-gray;
  font-family: $main-font;
  background-color: white;
  width: 45%;
  overflow: scroll;
  margin-top: 30px;
}

#influencer-misc {
  margin-bottom: 70px;
}

#influencer-name h1 {
  font-family: $main-font;
  font-weight: 700;
}

#social-media-identifier h3 {
 font-family: $main-font;
}

#influencer-influencer-levels h3 {
  font-family: $main-font;
}

#influencer-misc h3 {
  font-family: $main-font;
}