.container-job {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  color: $my-gray;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 900;
}

.job-header h1 {
  font-family: $main-font;
  color: $my-gray;
  font-size: 48px;
  font-weight: 900;
}

i {
  font-size: 24px;
}

input {
  font-size: 18px;
  color: $my-gray;
  font-weight: 900;
}

.form-control {
 font-size: 24px;
 color: $my-gray;
 font-weight: 900;
 border-radius: 15;
}

.input-group-prepend {
  font-size: 24px;
  color: $my-gray;
  font-weight: 900;
}

.input-group-append {
  font-size: 24px;
  color: $my-gray;
  font-weight: 900;
}


/// My Jobs tab

.go-back {

  margin-top: 60px;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-my-jobs h1 {
  font-family: $main-font;
  font-size: 56px;
  color: $my-gray;
}

.container-my-jobs h3 {
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  color: $my-gray;
}

.my-orders-header h1 {
 font-family: $main-font;
 font-size: 30px;
 font-weight: 700;
 color: $my-gray;
 font-size: 56px;
}


