.button-jobs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-confirmation h1 {
  font-family: $main-font;
  font-size: 56px;
  font-weight: 900;
  color: $my-gray;
}

.container-confirmation h2 {
  font-family: $main-font;
  font-size: 40px;
  font-weight: 700;
  color: $my-gray;
}

.container-confirmation h3 {
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  color: $my-gray;
}

